@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
  background-image: linear-gradient(to right, #203573, #049DD9, #233D8C);  

}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #203573;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
    color:#F27405;
    text-shadow: 1px 1px 3px #b34506b4;
}

h2{
    color: #049DD9;
}

p{
    text-align: justify;
}